flask>=3.0.0
boto3>=1.28.0
opentelemetry-distro>=0.45b0
opentelemetry-exporter-otlp>=1.24.0
opentelemetry-propagator-aws-xray>=1.0.0
opentelemetry-instrumentation-flask>=0.45b0
opentelemetry-instrumentation-botocore>=0.45b0
